# Core Dependencies
arch==8.0.0
matplotlib==3.10.9
numpy==2.4.6
pandas==3.0.3
pyarrow==24.0.0
ruptures==1.1.10
scipy==1.17.1
seaborn==0.13.2
statsmodels==0.14.6

# Notebooks
jupyter
notebook
ipykernel

# Optional profiling report
# ydata-profiling
